name: GitHub Metrics

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: leeehvinicius
          filename: github-metrics.svg
          template: classic
          base: header, activity, community, repositories, metadata
          languages: yes
          activity: yes
          timezone: America/Sao_Paulo
